@bryntum:registry="https://npm.bryntum.com"
//npm.bryntum.com/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJ0cmlhbCJdLCJuYW1lIjoic2hhbWQuLmFsZWMuYWUiLCJncm91cHMiOlsidHJpYWwiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiXSwiaWF0IjoxNzU4MjYzMDM0LCJuYmYiOjE3NTgyNjMwMzQsImV4cCI6MjYyMjE3NjYzNH0.u_gkEkHmDFpULZrv7ZaYiRSwhX6w4iQnNxornhiGGHg
